# 1. Ignorer tout par défaut
*

# 2. Mais autoriser git à entrer dans les dossiers
!*/

# 3. Ré-autoriser uniquement le code et les docs
!*.cs
!*.shader
!*.hlsl
!*.cginc
!*.compute
!*.asset
!*.shadergraph
!*.shadersubgraph
!*.md
!.gitignore

# 4. Ne jamais descendre dans les dossiers générés par Unity
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/

# 5. Donnees de terrain trop volumineuses pour GitHub (>100 Mo)
Assets/Scenes/Debug/TerrainData_*.asset
Assets/Scenes/Debug/New?Terrain.asset